*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(45deg, #010758, #5a1078); */
    background: linear-gradient(45deg, #0698a2, #aab1b4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1{
    color: white;
    font-size:45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero h1 span{
    color:#1b34b0;
    font-weight:700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea{
    width:600px;
    height:250px;
    background: #615dab;
    color: white;
    font-size:15px;
    padding:20px;
    outline: 0;
    border-radius: 10px;
    resize: none;
    margin-bottom:30px;
}

textarea::placeholder{
    font-size: 16px;
    color:#ddd;
}

.row{
    width:600px;
    display : flex;
    align-items: center;
    gap: 20px;

}
button{
    background: #ff2963;
    color: white;
    padding: 10px 30px;
    border: 0;
    border-radius: 35px;
    cursor: pointer;
    outline:0;
    font-size: 16px;
    display: flex;
    align-items: center;
}

button i{
    width:16px;
    margin-right:10px;
}

select{
    flex:1;
    color: white;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    /**11:00**/
}